In [2]:
#program to sum all elements in a list
sumation=0
d=[10,5,2,3,4]
for i in d:
    sumation=i+sumation
print('sumation=',sumation)

sumation= 24

In [4]:
#program to mul all elements in list
mul_result=1
d=[10,5,2,3,4]
for i in d:
    mul_result=i*mul_result
print('mul_result=',mul_result)

mul_result= 1200

In [1]:
#program to find largest number in a list

d=[10,5,2,3,4,22]
large=d[0]
for i in d:
    if i>=large:
        large=i
print(large)

22

In [24]:
#program to print smallest of list
d=[10,5,2,3,4]
small=d[0]
for i in d:
    if i<=small:
        small=i
print(small)

2

In [2]:
#5 prog to count the number of strings where the string len is 2 or more and the first and last are same from a 
#given list of strings
x=['anc','xrew','pkpkp','ayayeya']
counter=0
for i in x:
    if (len(i)>=2) and (i[0]==i[-1]):
        counter = counter +1  
        
print(counter)

2

In [28]:
#6-program to get a list, sorted in incresing order by the last element in each tuple from a given list of non-empty tuples
L1=[(2,5),(1,2),(4,4),(2,3),(2,1)]

In [52]:
#to remove duplicates from list 
d=[10,10,5,2,3,4,5,2,5,3]
k=[]
for i in d:
    if i in k:
        k = k
    else:
        k.append(i)  #k=[10,5]
        
k

[10, 5, 2, 3, 4]

In [54]:
#to check a list is empty or not
d=[10,10,5,2,3,4,5,2,5,3]
if len(d)==0:
    print('empty')
else:
    print('not empty')

not empty

In [2]:
# program to clone or copy a list
d=[10,10,5,2,3,4,5,2,5,3]
e=[]
for i in d:
    e.append(i)
print(e)

[10, 10, 5, 2, 3, 4, 5, 2, 5, 3]

In [8]:
#to find the list of words that are longer that len 3 from a given list of words
x=['anc','xrew','pkpkp','ayayeya','as456','a','dc']
z=[]
for i in x:
    if len(i)>3:
        z.append(i)
        
z

['xrew', 'pkpkp', 'ayayeya', 'as456']

In [17]:
#program for python function that takes two lists and returs true if they have atleast one common element
x=['anc','xrew','pkpkp','ayayeya','as456','a','dc']
d=[10,10,5,2,'anc','xrew','pkpkp']
for i in x:
    for j in d:
        if i==j:
            print('true')
#or
print('-------------------')
for i in x:
    if i in d:
        print('true')

true
true
true
-------------------
true
true
true

In [30]:
#
k=['red','green','white','black','pink','yellow']
n=[0,4,5]
for i =(0:len(k)-1:
    if(i=k[n])
    #if (i=k[0] or i=k[4] or i=k[5]):
        k.remove(i)

SyntaxError: invalid syntax (<ipython-input-30-977b71f1eaf9>, line 5)

In [36]:
#13-
sam_list=['red','green','white','black','pink','yellow']
rem_ind=[0,4,5]
ind_sam_list=list(range(0,len(sam_list)))
output=[]
for i in ind_sam_list:
    if i in rem_ind:
        sam_list=sam_list
    else:
        output.append(sam_list[i])
output

['green', 'white', 'black']

In [38]:
#14-to print the elements removing the even elements
sam_list=['red','green','white','black','pink','yellow','voilet']
out_put=[]
ind_sam_list=list(range(0,len(sam_list)))
for i in ind_sam_list:
    if i%2==0:
         out_put.append(sam_list[i])
    else:
        sam_list=sam_list
        
out_put

['red', 'white', 'pink', 'voilet']

In [39]:
#15-to shuffel and print a specified list
h=['red','green','white','black','pink','yellow','voilet']
h[-1::-1]

['voilet', 'yellow', 'pink', 'black', 'white', 'green', 'red']

In [46]:
#sorting a list and to find third largest number
d=[10,1,5,2,3,4,8,9,11]
d.sort(reverse=True)
print(d)
d[2]

[11, 10, 9, 8, 5, 4, 3, 2, 1]

9

In [52]:
#to print keys and values of dict as two seperate lists
z={'int':10,'float':5.32, 'str':'priya','clas':'4b','output':'ime'}
x=[]
y=[]
for key,val in z.items():  #.teams is used to get both keys and values, if we use (for i in z) then it takes only keys as i 
    x.append(key)
    y.append(val)
print(x)
y

['int', 'float', 'str', 'clas', 'output']

[10, 5.32, 'priya', '4b', 'ime']

In [53]:
#dictionaries practise
# to add a key to dict
d1={0:10,1:20}
d2={2:30}
d1.update(d2)
d1
#or  d1[20]=30

{0: 10, 1: 20, 2: 30}

In [55]:
# concatinating 3 dicts
s1={1:10,2:20}
s2={3:30,4:40}
s3={5:50}
s4={}
s1.update(s2)
s1.update(s3)
s1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [61]:
#to ckeck given key is alredy present in the list or not 
z={'int':10,'float':5.32, 'str':'priya','clas':'4b','output':'ime'}
x='str'
if(x in list(z.keys())):
    print('key exists')
else:
    print('key not exists')

key exists

In [65]:
#to perform append operation using for loop
z={'int':10,'float':5.32, 'str':'priya','clas':'4b','output':'ime'}
c={}
for i,k in z.items():
    c.update({i:k})
c

{'int': 10, 'float': 5.32, 'str': 'priya', 'clas': '4b', 'output': 'ime'}

In [66]:
#to creat a dict with values in list, keys should be like num:square of the num
k=[1,2,3,4]
d={}
for i in k:
    sq=i*i
    d.update({i:sq})
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [70]:
#to find the sum of all keys and values
k=[1,2,3,4]
d={}
for i in k:
    sq=i*i
    d.update({i:sq})
print(d)
s=0
for j in d.keys():
    s=s+j
print(s)
p=0
for h in d.values():
    p=p+h
print(p)
p+s

{1: 1, 2: 4, 3: 9, 4: 16}
10
30

40

In [71]:
#to find the sum of all keys and values-method2
k=[1,2,3,4]
d={}
for i in k:
    sq=i*i
    d.update({i:sq})
print(d)
s,p=0,0
for l,m in d.items():
    s=s+l
    p=p+m
p+s

{1: 1, 2: 4, 3: 9, 4: 16}

40

In [79]:
#list are ordered but sets are not ordred
#set-data type, unordered, {} uses, elements are same like list but unique 
x={1,2,3,5,2,0}
print(x)  #output will be ascending order
type(x)

{0, 1, 2, 3, 5}

set

In [77]:
x={1,'xc',2,3,5,2,0,'abc',[1,2]} # we cant give list inside a set as value
print(x)

TypeError: unhashable type: 'list'

In [82]:
#converting the sets to lists for unique
d=[1,1,2,3,4,5,4,5,6]
x=set(d)
y=list(set(d))
print(x,y)

{1, 2, 3, 4, 5, 6} [1, 2, 3, 4, 5, 6]

In [83]:
#union of sets
d={1,1,2,3,4,5,4,5,6}
x={1,2,3,5,2,0}
d.union(x)

{0, 1, 2, 3, 4, 5, 6}

In [84]:
#union of sets 
d={1,1,2,3,4,5,4,5,6}
x={1,2,3,5,2,0}
d.intersection(x)

{1, 2, 3, 5}

In [87]:
#to have a list difference we use sets
d=[1,1,2,3,4,5,4,5,6]
x=[1,2,3,5,2,0]
s1=set(d)
s2=set(x)
s3=s1-s2
print(s3)
list1=list(s3)
list1
#list can contain as a tuple as element
#str , list, dicts are very imp for DS

{4, 6}

[4, 6]

In [88]:
#tupels-no modification done on tuple,duplicate values, just like lists
b=('a',1,[1,2])  #list can be used as elements in tuples
print(b)

('a', 1, [1, 2])

In [91]:
#functions, defining a function
def sum_num(x,y):
    z=x+y
    a=x-y
    return(z,a)

In [99]:
var=sum_num(5,9)  #calling the function
print(var)  #output is a tuple
print(var[0])
print(var[1])

(14, -4)
14
-4

In [104]:
var1,var2=sum_num(5,9)
var1,var2
var1

14