In [5]:
add_var1=5
add_var2=10
z=add_var1+add_var2

15

In [8]:
print(add_var1) #print command
z

5

15

In [9]:
sub_1=10    # sub of two numbers
sub_2=4
b=x_sub=sub_1-sub_2
print(b)

6

In [12]:
mul_1=13.42
mul_2=10
y=mul_1*mul_2
print(y)

134.2

In [13]:
type(y) #type is used to find the type of variable

float

In [14]:
mul_1=13
mul_2=10
t=mul_1*mul_2
print(t)

130

In [15]:
div_1=12
div_2=2
dk=div_1/div_2
print(dk)

6.0

In [16]:
type(dk)

float

In [17]:
1.22**5  #power

2.7027081631999996

In [18]:
str_1='hell0'  #defining a string
str_2='world'
int_1=2
str_1+int_1

TypeError: can only concatenate str (not "int") to str

In [19]:
str_1+str_2  #concatination operation

'hell0world'

In [20]:
print(str_1+str_2) # tab is used to complete the variable names

hell0world

In [25]:
u=str_1+"  "+str_2  # adding space with in " "
print(u)

hell0  world

In [26]:
str_1*3

'hell0hell0hell0'

In [27]:
str_1*3.2

TypeError: can't multiply sequence by non-int of type 'float'

In [28]:
str_1-str_2  # we cant subtraction two strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [29]:
str_3='12'  #here 12 is treated as string
str_4='10'
str_3+str_4

'1210'

In [32]:
z=int(str_3) # converting to int
z=str(str_3)
z=float(str_3)
print(z)
int(str_1)

ValueError: invalid literal for int() with base 10: 'hell0'

In [34]:
x='23'
y=3
z=int(x)+y
z

26

In [35]:
x=10.9
int(x)

10

In [37]:
p=True  #boolean decleration
d=False
d
type(p)

bool

In [41]:
p or d # or operation
p|d
p&d   #and operation
p and d

False

In [45]:
str_1 | str_2  # boolean operations are not possible for strings

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [44]:
str_2 & str_2

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [46]:
not p

False

In [47]:
!p

'p' is not recognized as an internal or external command,
operable program or batch file.

In [48]:
p not

SyntaxError: invalid syntax (<ipython-input-48-644b5dc3287f>, line 1)

In [49]:
not str_1 # for not boolean inputs the output will be false,

False

In [51]:
a=2
b=3
c=6
d=6
(a==b) or (c==d)
(a==b) and (c==d)

False

In [52]:
a>=b
str_1>=str_2

False

In [53]:
'ab'=='ba'

False

In [59]:
x="Hello"
x.lower()
x.upper()
x.capitalize()

'Hello'

In [56]:
y='12'  # it doest work for int conversion
y.int()

AttributeError: 'str' object has no attribute 'int'

In [60]:
x="Hello" #to find length of x, length works only for strings
len(x)

5

In [63]:
y=12  # length operation is only for strings not for int, to know yhe lengh of the number we must converter to str and then find len
z=str(y)
len(z)

2

In [64]:
x="Hello"  # will retuen u a str with lenght 10 by adding the spacces in the begining
x.rjust(10)

'     Hello'

In [66]:
x.rjust(4)  #returns same as input

'Hello'

In [70]:
dk=x.center(10) #to make the str of len 10 by adding spaces on the left and right sides
len(dk)

10

In [69]:
len(x)

5

In [65]:
x.ljust(10) #wil return u a str with length 10 by adding spaces at the end

'Hello     '

In [71]:
dk.strip() # removes spaces

'Hello'

In [90]:
x='hello'   # to replace the letters in the string, here 1 is count value to replace only first value, -1 is default
print(x.replace('l','a',1))
x.replace('l','a')

healo

'heaao'

In [87]:
?str.replace

In [1]:
x='hello world'
print(x[0])  #forward index accessing, x[0],x[2],  ....x[len(x)-1], singlr element accessing
print(x[10])
print(x[10])
print(x[1:5]) #accessing multiple elements, x[statr index, end index+1], here default step size is 1
print(x[1:5:2]) # here 2 is the step size, we get alternate values
print(x[1:])  #x[1:11]
print(x[:5])  #x[0:5]
print(x[-5:3])

h
d
d
ello
el
ello world
hello

In [116]:
print(x[-1]) #backward index accessing, indexing is only for strings not for int
print(x[-11])
print(x[-3:]) #x[-3:-11]
print(x[:-3])  #x[-11:-3] 
#print(x[-1:-4]) it doesnt work
print(x[-1:-4:-1]) #to go in backward we must mention step value as-1
print(x[::-1])  #printing string in reverse order, -1 is the step value

d
h
rld
hello wo
dlr
dlrow olleh

In [139]:
#lists- is a data type, collection od diff data types, starts with 0 index
d=[1,2,3,4, 'hell',2.64]
print(type(d))
b=[12,36,'dc',5.2,['abc',23]]
len(b)
b[1]='e' # replaceing elements in list, we can replace list with list only
print(b[1])
type(b[0])
b[4][1]=41
b[0:3] # printing the values in the list
b[::-1] # reversing the list
b[::-3]  # reversely printing every third value

<class 'list'>
e

[['abc', 41], 'e']

In [ ]:
#to replace any value in the str

In [160]:
x=['a','b','c','d',2.5]  #list cant be concatinated with str
y=['a','c',2,3,5]
x[0:2]=["alpha"]
print(x)
d=x+y  # concatinating lists
len(d)
s=x+[-5,41]  #concatinating two lists
print(s)
x.append('e')
print(x)
x.append(['e'])
print(x)
q=['e']+x
print(q)
# insert(position,what shoud be inserted)
x.insert(1,'dk') 
print(x)

['alpha', 'c', 'd', 2.5]
['alpha', 'c', 'd', 2.5, -5, 41]
['alpha', 'c', 'd', 2.5, 'e']
['alpha', 'c', 'd', 2.5, 'e', ['e']]
['e', 'alpha', 'c', 'd', 2.5, 'e', ['e']]
['alpha', 'dk', 'c', 'd', 2.5, 'e', ['e']]

In [164]:
x=[1,2,3,'abc',2.36,1,2,45] # to remove by index value
x.pop(2)
print(x)

[1, 2, 'abc', 2.36, 1, 2, 45]

In [165]:
x=[1,2,3,'abc',2.36,1,2,45]  #removing element by value
x.remove(1)
print(x)

[2, 3, 'abc', 2.36, 1, 2, 45]

In [166]:
x=[1,2,3,'abc',2.36,1,2,45]  #removing the unpresent element
x.remove(4)

ValueError: list.remove(x): x not in list

In [167]:
x=[1,2,3,'abc',2.36,1,2,45] #alpha-numeric cant be sorted
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [169]:
y=['a','x','a','e']  #sort works only for when all numeric
y.sort()
print(y)

['a', 'a', 'e', 'x']

In [170]:
y=['a','x','a','e',['z','w']]  # sort doent support list and str
y.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [174]:
y=[['y'],['x','w']] # sorting list of list
y.sort()
y

[['x', 'w'], ['y']]

In [176]:
#sort in reverse
y=['a','x','a','e']
y.sort(reverse=True)
print(y)
#sort
#all ints or all strs or all list works
#combination of all above doents works

['x', 'e', 'a', 'a']